.profile {
    margin: 73px auto 0;
    width: 1140px;
    max-width: 100%;
}

.profile-container {
    display: flex;
    flex-direction: row;
    gap: 57px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.left-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 508px;
    flex-shrink: 0;
}