.profile {
    padding: 0 80px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    gap: 32px;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.profile-container {
    display: flex;
    flex-direction: row;
    gap: 57px;
    align-items: center;
    justify-content: space-around;
}

.left-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}