header {
    margin: 35px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    width: 1140px;
    max-width: 100%;
    padding: 0 150px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFFE5;
    border: none;
    border-radius: 40px;
    padding: 16px 48px;
}

.left-nav-bar {
    display: flex;
    gap: 40px;
    border-right: 0.5px solid #0B23F4;
    padding-right: 40px;
}

.right-nav-bar {
    color: #0B23F4;
    padding-left: 40px;
}

.link, .link:visited {
    color: #111111;
    text-decoration: none;
    font-size: 14px;
    transition: color 300ms;
    &:hover {
        color: #0B23F4;
    }
}

.logout, .logout:visited {
    color: #0B23F4;
    text-decoration: none;
}