footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    background-color: #FFFFFF;
    max-height: 40.66px;
    width: 1440px;
    max-width: 100%;
    height: fit-content;
    vertical-align: middle;
    margin: 90px 0 0 0;
    padding: 10px 100px;
}

.left-footer {
    display: flex;
    gap: 9px;
}

.right-footer {
    display: flex;
    gap: 16px;
    align-items: center;
}