.profile-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 28px 60px;
}

.profile-card-title {
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 24px;
    margin-bottom: 32px;
}

.profil-card-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
    color: #707070;
}